*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#484f58;
}



span{
    display: block;
    margin-bottom: 5px;
}

.output{
    display: block;
    margin-top: 15px;
}

